<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <variable name="COMMON_PATTERN"
        value="%d{HH:mm:ss.SSS} %-5level %class.%method\\(\\) line %line: %msg %n" />

     <appender name="RootConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender> 
    
    <!-- Log Console messages to a file -->
<!--     <appender name="RootConsole" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>MagicDBWebApp_console_test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                MagicDBWebApp_console_test.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender> -->

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="RootConsole" />
    </logger>

    <logger name="org.apache.http" level="ERROR" additivity="false">
        <appender-ref ref="RootConsole" />
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="RootConsole" />
    </root>
</configuration> 